
.hover-image-effect {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  border-radius: 8px;
  display: block;
  cursor: pointer; 
}

.hover-image-effect:hover {
  transform: scale(1.05);
}


.image-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
  max-width: 100%;
  height: auto;
}


.overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6); 
  padding: 5px 10px;
  border-radius: 10px;
}


.photographer-name {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.photographer-name:hover {
  text-decoration: underline; 
}


.custom-modal .modal-content {
  border-radius: 15px;
  border: none;
  overflow: hidden;
}

.modal-image {
  border-radius: 10px;
  max-height: 60vh;
  width: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero-section {
  margin-top: 30px; 
  padding: 20px 0;
  text-align: center;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.hero-subtitle {
  font-size: 1.2rem;
  color: #555;
  margin-top: 10px;
}

.images-section {
  margin-top: 30px; 
}

