.profile-page {
  margin-top: 50px;
}

.cover-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.profile-pic-wrapper {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
}

.profile-pic {
  width: 100%;
  height: 100%;
  border: 5px solid white;
  object-fit: cover;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.profile-page h2 {
  margin-top: 40px; 
}

.card {
  position: relative;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between; /* Fa sì che il pulsante e il testo siano separati */
}

.card-body .btn-danger {
  margin-top: 10px;
  align-self: flex-end; /* Posiziona il pulsante a destra */
  width: 100%;
  background-color: #dc3545; /* Colore di pericolo */
  color: white;
  border: none;
  transition: all 0.3s;
}

.card-body .btn-danger:hover {
  background-color: #c82333; /* Colore più scuro per l'hover */
  transform: scale(1.05); /* Effetto di zoom per dare feedback visivo */
}

.custom-modal .modal-content {
  border-radius: 15px;
  border: none;
  overflow: hidden;
}

.custom-modal .modal-header,
.custom-modal .modal-footer {
  border: none;
}

.custom-modal .modal-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #343a40;
}

.custom-modal .modal-body img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-modal .modal-body p {
  font-size: 1rem;
  color: #495057;
}

.custom-modal .modal-footer button {
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.custom-modal .modal-footer button:hover {
  background-color: #e9ecef;
}


